.horoscope-post-container{

    border: 5px solid red  ;
}
.horoscope-post-wrapper{
    background-color: paleturquoise;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
}
/* img{
    border-radius: 100%;
    box-shadow: 10px 10px 20px -3px rgba(205, 53, 219, 0.2);

} */
