.feed-container{
    display: grid;
    grid-column:1fr 1fr;
     /* max-width: fit-content;
    max-height: 800px;
    margin-left:10vw; */
    min-height: max-content;
    max-height: fit-content;
    width: 900px;
    max-width: fit-content;
    margin-right: 100px;
}
.horoscope-feed-container{
    max-height: max-content;
    min-height: max-content;
    min-width: 800px;

    max-width: 800px;
    margin-left: 100px;
    margin-right: 100px;
    overflow-y: scroll;
    display: grid;
    grid-column-start: 2;
    align-content: center;
    /* position: relative; */
    /* top: 5%;
    left: 15%; */


}
.horoscope-feed-wrapper{
    background-color: var(--wa-yellow);
    border: 5px inset black;
    min-height: max-content;
    max-width: fit-content;
    border-radius: 280px;
    display: flex;
    flex-direction: row;
    padding: 70px;
    margin: 20px;

}

@media all and (max-width: 900px) {
    .feed-container{
        display: grid;
        grid-row:1fr 1fr;
        min-height: max-content;
        max-height: max-content;

    }

    .horoscope-feed-container{
        margin-left: 100px;
        margin-right: 100px;
        padding: 30px;
        display: grid;
        grid-row-start: 2;
        min-height: max-content;
        max-height: max-content;



    }
    .horoscope-feed-wrapper{
        max-width: 650px;
        min-height: max-content;
        max-height: max-content;
    }

}

/* img{
    border-radius: 100%;
    box-shadow: 10px 10px 20px -3px rgba(205, 53, 219, 0.2);

} */
.horo-post-wrapper{
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.horo-post-user-detail{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.horo-post-user-pic{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin:10px;
}
.horo-post-user-pic>img{
    max-width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid black;
    margin: 5px;
}
h3>p{
   margin: 15px;
}
.horo-post-sign-detail{
    display: flex;
    flex-direction: row;
   align-items: center;
   /* height: 55%; */
}

.horo-post-sign-detail>h3{
    line-height: 20px;
}

.horo-post-detail{
    padding: 10px;
    background-color: white;
    width: 500px;
    border-radius: 20px;
    border: 3px inset whitesmoke;
    min-height: fit-content;
}
/* LIKE  */
.far.fa-heart{

color: var(--wa-light-blue);

}
/* UNLIKE */
.fas.fa-heart{

color: var(--wa-light-blue);
margin-left: 13px;
}
/* .horo-action{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */
.horoscope{
    padding: 5px;
    border: 1px solid var(--wa-yellow);
    color: var(--wa-light-blue);
    border-radius: 20px;
    text-align: center;
}
#zodi-feed-header{
    display: grid;
    grid-column-start: 1;
    color: white;
    font-size: 95px;
    text-transform: uppercase;
    line-height: 90px;
    margin: 0%;
    margin-right: 30px;
    /* text-align: center; */
    transform: rotate(270deg);
    /* position: relative; */
    height: fit-content;
    width:500px;
    text-align: center;
    position: sticky;
    top:300px;
    left:50px;



}
@media all and (max-width: 1000px) {

    #zodi-feed-header{
        position: unset;

        transform: none;
        width: 100%;
    font-size: 85px;
    text-align: center;
    display: grid;
    grid-row-start: 1;
    grid-column-start: 2;

    }
}
