/* TODO Add site wide styles */
:root {
    --wa-purple:  #ac52d6;
    --wa-blue: #99b5f3;
    --wa-gold: #ffc400;
    --wa-charcoal: #4d4d4d;
    --wa-gray: #e6e6e6;
}

/* * {
    font-family: 'Nunito Sans', sans-serif;
} */

.primary-button, .secondary-button {
    border-radius: 20px;
    line-height: 30px;
    font-weight: 700;
    font-size: 12px;
    background-color:var(--wa-purple);
    color: white;
    text-transform: uppercase;
    padding: 3px 10px;
}

*{
    box-sizing: border-box;

}

.univ-horoscope-post-container{

}
.univ-horoscope-post-wrapper{


}
.univ-modal-wrapper{
    min-width: 350px;
    max-width: 350px;
    border: 2px solid white;
    border-radius: 15%;
    background-color: var(--wa-purple); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-purple), white);
    border-radius: 10px;

}
.univ-form-wrapper{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
}
.univ-form-errors{

}
.univ-form-label{

}
.univ-form-input{

}
.univ-user-friend-panel{

}
.univ-friend-panel-component{

}
.univ-daily-horoscope-cont{

}
.univ-daily-horoscope-component{

}
*{
    border: 2px solid red;
}
