/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
:root {
    --wa-emoji-purple:  #ac52d6;
    --wa-deep-emoji-purple:  #9d1bda;
    --wa-light-blue: #57d6ff ;
    --wa-gold: #ffc400;
    --wa-yellow: #ffd557 ;
    --wa-deep-purple: #8257ff;
    --wa-baby-blue: #9be7ff ;
    --wa-charcoal: #4d4d4d;
    --wa-light-purple: #b59bff ;
    --wa-gray: #e6e6e6;
    --wa-dark-purple: #332074;
    --wa-blue: #0003c2;
}

/* * {
    font-family: 'Nunito Sans', sans-serif;
} */

.primary-button {
    border-radius: 20px;
    border: .5px solid black ;
    height: fit-content;
    font-weight: 700;
    font-size: 12px;
    background-color:var(--wa-light-blue);
    color: white;

    /* text-transform: uppercase; */
    font-family: 'Capriola', sans-serif;
    padding: 3px 10px;
    text-transform: uppercase;
}
*{
    font-family: 'Timmana', sans-serif;


}

.primary-button:hover{
    background-color:var(--wa-gold);
    color: var(--wa-charcoal);
}

.primary-button.calc{
margin-top: 10px;
}


.secondary-button {
    border-radius: 20px;
    height: fit-content;
    font-weight: 700;
    font-size: 12px;
    background-color:var(--wa-yellow);
    color: black;
    text-transform: uppercase;
    padding: 3px 10px;
}

*{
    box-sizing: border-box;
    /* border: 1px solid red; */


}
.celestial-detail{
    z-index: inherit;
    max-height: 600px;
}
/* NAV BAR */
.univ-nav-bar , nav{

    line-height: 20px;
    max-height: 50px;


}
.univ-nav-bar > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.univ-nav-bar > li{
  list-style: none;

}

.univ-nav-bar #logout-button{


  }
.univ-horoscope-post-container{

}
.univ-horoscope-post-wrapper{


}
.univ-modal-wrapper{
    /* min-width: 350px;
    max-width: 350px;
    border: 2px solid white;
    border-radius: 15%;
    background-color: var(--wa-purple);
    background-image: linear-gradient(to bottom left, var(--wa-purple), white);
    border-radius: 10px; */


    border-radius: 10px;
    height: max-content;
    min-width: 350px;
    max-width: 850px;
    background-color: var(--wa-deep-emoji-purple); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-deep-purple), var(--wa-emoji-purple));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: -150px;

}
.univ-modal-wrapper.calc{
    /* min-width: 350px;
    max-width: 350px;
    border: 2px solid white;
    border-radius: 15%;
    background-color: var(--wa-purple);
    background-image: linear-gradient(to bottom left, var(--wa-purple), white);
    border-radius: 10px; */


    border-radius: 10px;
    height: max-content;
    min-width: 350px;
    max-width: 850px;
    background-color: var(--wa-deep-emoji-purple); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-light-blue), var(--wa-emoji-purple), var(--wa-blue));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: -150px;

}
.univ-form-wrapper{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: 20px 40px;
}
.univ-form-errors{
    margin: 5px 0 15px;
    font-weight: 100;
    font-size: 16px;
    color: var(--wa-baby-blue);

}
.univ-form-errors{
    margin: 5px 0 15px;
    font-weight: 100;
    font-size: 16px;
    color: var(--wa-yellow);
    padding-left: 10px ;
    padding-top: 2px;
    padding-bottom: 0px;

}
.univ-form-label{
float: left;
padding-top: 5px;
text-transform: uppercase;
}
.univ-form-label.calc{
    text-align: center;

}
.univ-form-input{
    box-sizing: border-box;
    width: 75%;
    margin: 10px;
    padding: 5px 10px 5px 10px;
}
.univ-user-friend-panel{

}
.univ-friend-panel-component{

}
.univ-daily-horoscope-cont{

}
.univ-daily-horoscope-component{

}

.univ-post-detail-wrap{


}
.univ-post-detail-post{

}
.univ-post-detail-comments{

}
.univ-individual-comment-wrapper{

    background-color: #ac52d6;
}
.univ-individual-comment-pic{
    border-radius: 100%;

}
.univ-individual-comment-name{

}
.univ-individual-comment-content{

}
.unv-likes{

}
