/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
:root {
    --wa-emoji-purple:  #ac52d6;
    --wa-deep-emoji-purple:  #9d1bda;
    --wa-light-blue: #57d6ff ;
    --wa-gold: #ffc400;
    --wa-yellow: #ffd557 ;
    --wa-deep-purple: #8257ff;
    --wa-baby-blue: #9be7ff ;
    --wa-charcoal: #4d4d4d;
    --wa-light-purple: #b59bff ;
    --wa-gray: #e6e6e6;
    --wa-dark-purple: #332074;
    --wa-blue: #0003c2;
}
*{
    font-family: 'Timmana', sans-serif;
    box-sizing: border-box;
/* border: .5px solid red; */
}
body{
    margin: 0%;
    background-image: url(https://zodiappbucket.s3.us-east-2.amazonaws.com/wp2742972.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(11, 0, 32);

}
#root{
    /* background-image: url(https://zodiappbucket.s3.us-east-2.amazonaws.com/wp2742972.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(11, 0, 32); */
}

.primary-button {
    border-radius: 20px;
    border: 1px solid black ;
    height: fit-content;
    font-weight: 700;
    font-size: 12px;
    background-color:var(--wa-light-blue);
    color: white;

    /* text-transform: uppercase; */
    font-family: 'Timmana', sans-serif;
    padding: 3px 10px .5px ;
    /* text-transform: uppercase; */
}


.primary-button:hover{
    background-color:var(--wa-gold);
    color: black;
}

.primary-button.calc{
margin-top: 10px;
}
.primary-button.user-actions{
    padding: 20px ;
    border-radius: 10px;
    font-size: 18px;
    margin: 0px;
    text-transform: uppercase;
    /* position: relative;
    top: 30vh;
    /* right: ; */

    margin: 10px;
    width: max-content;

    }
    .primary-button.user-actions:hover{
        font-size: 25px;
        left: 30vh;
    }
.secondary-button {
    border-radius: 20px;
    height: fit-content;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid black;
    background-color:var(--wa-yellow);
    color: black;
    text-transform: uppercase;
    font-family: 'Timmana', sans-serif;
    padding: 3px 10px .5px ;
}
.horo-button{
    border-radius: 20px;
    height: fit-content;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid black;
    background-color:var(--wa-deep-emoji-purple);
    color: white;

    font-family: 'Timmana', sans-serif;
    padding: 3px 10px .5px ;
}
.horo-button:hover{
    background-color:var(--wa-emoji-purple);
    text-decoration: underline;
}

.celestial-detail{
    z-index: inherit;
    max-height: 600px;
}
/* NAV BAR */
.univ-nav-bar , nav{

    line-height: 35px;
    max-height: 45px;
    position: sticky;
    top: 0;
    right: 0;
    margin-top: 5px;






}
@media screen and (max-width: 1000px) {
    .univ-nav-bar , nav{


        width: fit-content;


    }

}
.univ-nav-bar > ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px;

}
.univ-nav-bar > li{
  list-style: none;

}
#logout-button{
    padding: 10px;
    padding-left:10px;
    padding-right: 10px;
}


.univ-modal-wrapper{


    border-radius: 10px;
    height: max-content;
    min-width: 350px;
    max-width: 850px;
    background-color: var(--wa-deep-emoji-purple); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-deep-purple), var(--wa-emoji-purple));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;



}
.univ-modal-wrapper.calc{



    border-radius: 10px;
    height: max-content;
    min-width: 350px;
    max-width: 850px;
    background-color: var(--wa-deep-emoji-purple); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-light-blue), var(--wa-emoji-purple), var(--wa-blue));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
/*
    position: absolute;
    top:-25vh;
    right: 35vh; */

}
.univ-modal-wrapper.edit-list{
    text-align:center ;
}
.univ-modal-wrapper.update{
    padding: 20px;
}
.univ-modal-wrapper.comp{
    background-color: var(--wa-gold);

}
.univ-form-wrapper{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: 20px 40px;
}
.univ-form-errors{
    margin: 5px 0 15px;
    font-weight: 100;
    font-size: 16px;
    color: var(--wa-baby-blue);

}
.univ-form-errors{
    margin: 5px 0 15px;
    font-weight: 100;
    font-size: 16px;
    color: var(--wa-yellow);
    padding-left: 10px ;
    padding-top: 2px;
    padding-bottom: 0px;

}
.zodi-form-errors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 16px;
    color: var(--wa-baby-blue);

}
#zodi-list-detail{
    text-align: center;
    margin: 0px;
}
.univ-form-label{
float: left;
padding-top: 5px;
text-transform: uppercase;
}
.univ-form-label.calc{
    text-align: center;

}
.zodi-list-label{

}
.univ-form-input{
    box-sizing: border-box;
    width: 75%;
    margin: 10px;
    padding: 5px 10px 5px 10px;
}


.univ-individual-comment-wrapper{

    background-color: white;
    padding: 30px;
    margin-bottom: 15px;
    min-height: 250px;
    max-height: fit-content;
    border-radius: 120px;
}
.univ-individual-comment-pic{
    border-radius: 100%;

}
#name-card-comments{
    display: flex;
    justify-content: space-evenly;
}
#name-card-comments>h3{
    font-size: 30pt;
    padding-top: 20px;
    color: var(--wa-deep-emoji-purple);
}

.comments-controls{
    display: flex;
    justify-content: space-evenly;

}
.main-comment-cont{
    height: 400px;
    padding: 15px;
    overflow-y: scroll;
    border: 1px solid var(--wa-emoji-purple);
    border-radius: 20px;
}


.comment-detail-main-cont{
    border: 1px solid var(--wa-emoji-purple);
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    top:15%;
    right: 10%;
}
