/* TODO Add site wide styles */
:root {
    --wa-purple:  #ac52d6;
    --wa-blue: #99b5f3;
    --wa-gold: #ffc400;
    --wa-charcoal: #4d4d4d;
    --wa-gray: #e6e6e6;
}

/* * {
    font-family: 'Nunito Sans', sans-serif;
} */

.primary-button, .secondary-button {
    border-radius: 20px;
    line-height: 30px;
    font-weight: 700;
    font-size: 12px;
    background-color:var(--wa-purple);
    color: white;
    text-transform: uppercase;
    padding: 3px 10px;
}

*{
    box-sizing: border-box;

}

.univ-horoscope-post-container{

}
.univ-horoscope-post-wrapper{

}
.univ-modal-wrapper{
    
}
