.login-modal-wrapper{

    border: 2px solid white;


}
.login-form-wrap{
    border-radius: 10px;
    min-width: 350px;
    max-width: 350px;
    background-color: var(--wa-deep-emoji-purple); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, var(--wa-deep-purple), var(--wa-emoji-purple));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.login-other-options{
    display: flex;
}
#move-to-left-for-now{
    margin-top: 500px;
    background-color:red ;
};
