
*{
    box-sizing: border-box;
}
/* MAIN  */
.main-dashboard-container{
    background-image: linear-gradient(to bottom left,var(--wa-deep-emoji-purple), var(--wa-deep-purple),var(--wa-dark-purple), var(--wa-deep-purple),var(--wa-deep-emoji-purple));
    max-width: 1100px;
    max-height: 900px;
    padding: 30px;
    border: 5px inset var(--wa-emoji-purple);
    border-style: solid inset solid solid;
    border-radius: 30px;
    position: absolute;
    left: 35vh;
    /* display: ; */
}

/* USER DETAIL ------------------------USER DETAIL */
.user-header{
    color: white;
    text-transform: uppercase;

    text-align: center;
}
.user-sign-detail{

   max-height: fit-content;
   display: flex;
   flex-direction: column;
   padding: 10px;




}
.user-sign-detail>p,h3{
padding: 0px;
margin: 0px;
color: black
}
#sign-detail-header{
    color:var(--wa-light-blue);
    text-transform: uppercase;
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: 'Timmana', sans-serif;
    line-height: 50px;
    text-align: center;
}
.user-sign-detail {

} */
.user-profile-cont{
    /* display: flex;
    flex-direction: row;

    background-color: seagreen; */

}
.user-profile-pic-div{
    display: flex;
    flex-wrap: row wrap;
    width: fit-content;
    padding: 10px;

    /* justify-content: space-between; */


}
.user-controls{
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.user-sign-section{
    border: 3px inset whitesmoke;
    background-color: white;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 500px;

}
.user-sign-section.no-sign{
    border: 3px inset whitesmoke;
    background-color: white;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 300;
}
.user-deet-cont>*{
border: 1px solid var(--wa-emoji-purple);
border-radius: 20px;
}
/* *{
    border: 2px solid red; ;
} */
/* ZODIAC LIST----------------------ZODIAC LIST */
.univ-zodiac-table-container{
    overflow-y: scroll;
    max-height: 300px;
    padding: 15px;
    margin-bottom: 15px;
}



  table {
    white-space: nowrap;
    background-color: var(--wa-yellow);
    padding: 10px;
    border-radius: 10px;
  }

  table#first-match-input{
      background-color: white;
  }

/* EDIT MODAL */
.first-match{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: center;
}
.first-match>p{
    display: flex;
    flex-direction: row;
}
.first-match>p>span{
    margin-left: 20px;
}
#comp-modal{
    padding: 10px;

}
#comp-modal-hearts{
    margin-left: 15px;
}
#comp-modal-hearts:hover{
    /* border: 3px inset blueviolet; */
    /* width: 100%;
    padding: 10px ; */
    box-shadow: 3px 3px 3px 1px rgb(255, 168, 255);
}

th#comp-table{
    width: 30%;
}
/* td#comp-table:hover{
    border: 3px inset blueviolet;
    width: 33%;

} */
.add-row-container{
    display: flex;
    justify-content: center;
}




/* FRIENDS PANEL--------------------FRIENDS PANEL */
.bottom-panel-sect{
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}



.univ-user-friend-panel{
/* min-width: 300px;
max-height: 350px;
    overflow: scroll; */
}
.friend-panel-cont{
    border: 3px inset var(--wa-yellow);
    border-style: solid inset solid solid;
    background-color: white;
    padding: 8px;
    border-radius: 20px;

}
.friend-panel-img{
    border-radius: 100%;
    border: 1px solid black;
}
ul{
    padding-left: 3px;
}
li.friend-panel{
    list-style: none;
    display: flex;
   justify-content: space-around;
   align-content: center;
   margin-top: 5px;
   padding: 8px;
   background-color:var(--wa-deep-purple);
   border-radius: 60px;
   border: 1px solid black;
}
.friend-panel>span{
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-evenly; */
    }
.request-section,.friend-section{
    min-width: 300px;
    max-height: 400px;
        overflow: scroll;
}

li.incoming-req{
    list-style: none;
    display: flex;
   justify-content: space-around;
   align-content: center;
   margin-top: 5px;
   padding: 8px;
   background-color:var(--wa-deep-purple);
   border-radius: 60px;
   border: 1px solid black;
}

.incoming-req>span{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
li.incoming-req>img{
    border-radius: 100%;
    border: 1px solid black;


}
li.pending-req{
    list-style: none;
    display: flex;
   justify-content: space-around;
   align-content: center;
   margin-top: 5px;
   padding: 8px;
   background-color:var(--wa-deep-purple);
   border-radius: 60px;
   border: 1px solid black;
}
.pending-req>span{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
li.pending-req>img{
        border-radius: 100%;
        border: 1px solid black;
    }
#delete-req{
    margin:0px;
    height: fit-content;

}
#friends-header{
    text-align: center;
    color: var(--wa-yellow);
    text-transform: uppercase;
}
.incoming-req-cont{
    min-width: 300px;
    max-width: 300px;
    max-height: 325px;
    padding: 5px;
        overflow: scroll;
}
.pending-req-cont{
    min-width: 300px;
    max-width: 300px;
    max-height: 325px;
    padding: 5px;
        overflow: scroll;
}
.user-actions{
    padding: 8px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: ; */
    justify-content: space-between;
    align-content: space-around;
    gap: 5px;

}
#emoji-symbol{
    font-size: 15pt;
    margin: 0px;
    line-height: inherit;
    color: white;
}

.incoming-req>h3{}
.pending-req>h3{
    margin-left: 20px;
}
