
*{
    box-sizing: border-box;
}
/* MAIN  */
.main-dashboard-container{
    background-image: linear-gradient(to bottom left,var(--wa-deep-emoji-purple), var(--wa-deep-purple),var(--wa-dark-purple), var(--wa-deep-purple),var(--wa-deep-emoji-purple));
    max-width: 1000px;
    max-height: 800px;
    padding: 30px;
    border: 5px inset var(--wa-emoji-purple);
    border-style: solid inset solid solid;
    border-radius: 30px;
    position: absolute;
    left: 35vh;
    /* display: ; */
}
.user-header{
    color: white;
}
.user-sign-detail{

   max-height: fit-content;
   display: flex;
   flex-direction: column;
   padding: 10px;




}
.user-sign-detail>p,h3{
padding: 0px;
margin: 0px;
color: black
}
#sign-detail-header{
    color:var(--wa-light-blue);
    text-transform: uppercase;
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: 'Timmana', sans-serif;
    line-height: 50px;
    text-align: center;
}
.user-sign-detail {

} */
.user-profile-cont{
    /* display: flex;
    flex-direction: row;

    background-color: seagreen; */

}
.user-profile-pic-div{
    display: flex;
    flex-wrap: row wrap;
    width: fit-content;
    padding: 10px;

    /* justify-content: space-between; */


}
.user-controls{
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.user-sign-section{
    border: 3px inset whitesmoke;
    background-color: white;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 600px;

}
.user-sign-section.no-sign{
    border: 3px inset whitesmoke;
    background-color: white;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 300;
}
.user-deet-cont>*{
border: .5px solid red;
}
/* *{
    border: 2px solid red; ;
} */
/* ZODIAC LIST */
.univ-zodiac-table-container{
    overflow-y: scroll;
    max-height: 300px;
    padding: 15px;
    margin-bottom: 15px;
}



  table {
    white-space: nowrap;
    background-color: var(--wa-yellow);
    padding: 10px;
    border-radius: 10px;
  }

  table#first-match-input{
      background-color: white;
  }

/* EDIT MODAL */
.first-match{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: center;
}
.first-match>p{
    display: flex;
    flex-direction: row;
}
.first-match>p>span{
    margin-left: 20px;
}
#comp-modal{
    padding: 10px;

}
#comp-modal-hearts{
    margin-left: 15px;
}
#comp-modal-hearts:hover{
    /* border: 3px inset blueviolet; */
    /* width: 100%;
    padding: 10px ; */
    box-shadow: 3px 3px 3px 1px rgb(255, 168, 255);
}

th#comp-table{
    width: 30%;
}
/* td#comp-table:hover{
    border: 3px inset blueviolet;
    width: 33%;

} */
.add-row-container{
    display: flex;
    justify-content: center;
}
