
*{
    box-sizing: border-box;
    /* border:.5px red solid; */
}
/* MAIN  */
.dash-cont{
    display: flex;
   justify-content: center;
  align-items: center;

  min-height: 100vh;
}
.main-dashboard-container{
    background-image: linear-gradient(to bottom left,var(--wa-deep-emoji-purple), var(--wa-deep-purple),var(--wa-dark-purple), var(--wa-deep-purple),var(--wa-deep-emoji-purple));
    /* max-width: 70vw;
    max-height: 70vw; */
    max-width: 1000px;
    min-height:55%;
    height: 55%;
    max-height: 55%;
    padding: 30px;
     margin:30px;
    /*margin-bottom: 80px; */
    border: 5px inset var(--wa-emoji-purple);
    border-style: solid inset solid solid;
    border-radius: 30px;
    /* position: relative;
    top:0px;
    left: 0px; */
  align-content: center;
}
    /* display: ;
}
/* BOTTOM HALF CONTAINER HOLDING FRIENDS AND HOROSCOPE COMPONENT */
.bottom-panel-sect{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    max-height: max-content;
    padding: 15px;

}
/* MAIN FRIEND CONTINER */
.univ-user-friend-panel{

    max-height:400px
    }


/* USER DETAIL ------------------------USER DETAIL */
.user-header{
    color: white;
    text-transform: uppercase;

    text-align: center;
}
.user-sign-detail{

   max-height: fit-content;
   display: flex;
   flex-direction: column;
   padding: 10px;




}
.user-sign-detail>p,h3{
padding: 0px;
margin: 0px;
color: black
}
#sign-detail-header{
    color:var(--wa-light-blue);
    text-transform: uppercase;
    font-size: 55px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: 'Timmana', sans-serif;
    line-height: 50px;
    text-align: center;
}
.user-sign-detail {

}
.user-profile-cont{
    /* display: flex;
    flex-direction: row;

    background-color: seagreen; */

}
.user-profile-pic-div{
    display: flex;
    flex-wrap: row wrap;
    width: fit-content;
    padding: 10px;

    /* justify-content: space-between; */


}
.user-profile-pic:hover{
    box-shadow: 0px 0px 5px 5px  rgb(233, 125, 233);


}
.user-controls{
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.user-sign-section{
    border: 3px inset whitesmoke;
    background-color: white;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    min-width: 650px;
    max-width: 650px;

}
.user-sign-section.no-sign{
    border: 3px inset whitesmoke;
    background-color: white;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 300;
}
.user-deet-cont>*{
border: 1px solid var(--wa-emoji-purple);
border-radius: 20px;
}
/* *{
    border: 2px solid red; ;
} */
/* ZODIAC LIST----------------------ZODIAC LIST */
.univ-zodiac-table-container{
    overflow-y: scroll;
    max-height: 300px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
   /* justify-content: center; */
   align-content: center;

}

.univ-zodiac-list-wrapper{
    min-width:400px ;

}


  table {
    white-space: nowrap;
    background-color: var(--wa-yellow);
    padding: 10px;
    border-radius: 10px;
  }

  table#first-match-input{
      background-color: white;
  }

  #calc{
    text-align: center;
    padding: 0px;
    margin: 0px;

  }
  #calc:hover{
      text-decoration: underline;
      cursor: pointer;
      font-size: 110%;
      color: var(--wa-yellow);
  }

/* EDIT MODAL */
.first-match{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: center;
}
.first-match>p{
    display: flex;
    flex-direction: row;
}
.first-match>p>span{
    margin-left: 20px;
}
#comp-modal{
    padding: 10px;

}
#comp-modal-hearts{
    margin-left: 15px;
}
#comp-modal-hearts:hover{
    /* border: 3px inset blueviolet; */
    /* width: 100%;
    padding: 10px ; */
    box-shadow: 3px 3px 3px 1px rgb(255, 168, 255);
}

th#comp-table{
    width: 30%;
}
/* td#comp-table:hover{
    border: 3px inset blueviolet;
    width: 33%;

} */
.add-row-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* FRIENDS PANEL--------------------FRIENDS PANEL */




.friend-panel-img{
    border-radius: 100%;
    border: 1px solid black;
}
ul{
    padding-left: 3px;
   ;
   max-height: 275px;

}

li.friend-panel{
    list-style: none;
    display: flex;
   justify-content: space-around;
   align-content: center;
   margin-top: 5px;
   padding: 8px;
   background-color:var(--wa-deep-purple);
   border-radius: 60px;
   border: 1px solid black;
   max-height: 350px;
   max-height: 275px;
   overflow: scroll;

}
.friend-panel>span{
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-evenly; */
    }
.request-section,.friend-section{
    min-width: 300px;
    max-height: 350px;
        overflow: scroll;
}

li.incoming-req{
    list-style: none;
    display: flex;
   justify-content: space-around;
   align-content: center;
   margin-top: 5px;
   padding: 8px;
   background-color:var(--wa-deep-purple);
   border-radius: 60px;
   border: 1px solid black;
}

.incoming-req>span{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
li.incoming-req>img{
    border-radius: 100%;
    border: 1px solid black;


}
li.pending-req{
    list-style: none;
    display: flex;
   justify-content: space-around;
   align-content: center;
   margin-top: 5px;
   padding: 8px;
   background-color:var(--wa-deep-purple);
   border-radius: 60px;
   border: 1px solid black;
}
.pending-req>span{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
li.pending-req>img{
        border-radius: 100%;
        border: 1px solid black;
    }
#delete-req{
    margin:0px;
    height: fit-content;

}
#friends-header{
    text-align: center;
    color: var(--wa-yellow);
    text-transform: uppercase;
    font-size: 24pt;
    margin: 0px;
    padding: 0px;
}
/* MAIN PANEL CONT */
.friend-panel-cont{
    border: 3px inset var(--wa-yellow);
    border-style: solid inset solid solid;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    height: 105%;
    max-height:105%;
    margin:10px


}
.friend-section{
    height: 85%;
    max-height:85%;
    padding: 10px;
        overflow: scroll;
}
.incoming-req-cont{

    height: 85%;
    max-height:85%;
    padding: 10px;
        overflow: scroll;
}
.pending-req-cont{
  
    height: 85%;
    max-height:85%;
    padding: 10px;
        overflow: scroll;
}
.user-actions{
    padding: 2px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: ; */
    justify-content: space-between;
    align-content: space-around;
    height: min-content;
    gap: 5px;

}
#emoji-symbol{
    font-size: 15pt;
    margin: 0px;
    line-height: inherit;
    color: white;
    text-transform: lowercase;

}



.pending-req>h3{
    margin-left: 20px;
}

/* HOROSCOPE PANEL */

.main-horoscope-cont{
    padding: 20px;
    background-color: white;
    max-height:  95%;
    height: 95%;

    width: 95%;
    max-width: 95%;
    border-radius: 20px;
    border: 5px inset var(--wa-emoji-purple);
    border-style: solid inset solid solid;

}

.main-horoscope-wrapper{

    /* max-height: 400px; */

    height: fit-content;
    padding: 10px;
}
#horoscope-header{
    text-transform: uppercase;
    color: var( --wa-deep-emoji-purple);
    font-size: 35pt;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 40pt;

}
.horo-cont{
    background-color: var(--wa-deep-emoji-purple);
    margin-top: 10px;
    border-radius: 20px;
    max-height:fit-content ;
    min-height:fit-content ;
    padding: 15px;
}
.horo-cont>div>h2{
    text-transform: uppercase;
    color:white;
    font-size: 20pt;
    margin: 0px;
    padding: 5px;
    text-align: center;
    line-height: 30pt;

}
.horo-cont>div>h4{

background-color: white;
border-radius: 20px;
min-height: max-content;
max-height: max-content;
text-align: center;
padding: 10px;
margin: 0px;
}

#today{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .univ-daily-horoscope-cont{
    max-height: 300px;
   background-color: turquoise;
} */

/* HOROSCOPE COMPONENT */

.past-horoscope-cont{
    max-height: 250px;
    background-color:var(--wa-light-blue);
    overflow-y: scroll;
    border: 1px solid var(--wa-emoji-purple);
    border-radius:20px;
    padding: 15px;
}
.past-horo-head{
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.main-post-cont{
    background-color:white;
    padding: 30px;
    margin: 10px;

    /* max-height: 235px; */
    border-radius: 90px;
}
.univ-post-user-cont{
display: flex;
max-height: 150px;

}
.user-post-detail{
    max-height: 150px;
    margin: 0px;
}
.user-post-detail>img{
    border-radius: 100%;
}

.user-post-detail>h6{
    text-align: center;
    margin: 0px;

}
/* .user-post-detail>h2{
    text-align: center;
    margin: 0px;

} */
.user-content{
    display: flex;
    flex-direction: column;
    align-items: center;


    min-height: 120px;
    max-height: 120px;


}
.user-content>*{
    margin:0px

}
.univ-horoscope{
    margin: 0px;


    font-size: 18pt;
    padding: 60px;
}
h2.univ-horoscope{
    font-size: 12pt;
    text-align: center;
    padding: 10px;
    height: fit-content;
    color: var(--wa-yellow);
    width: 65%;
    border: 1px solid var(--wa-light-blue);
    border-radius: 70px;
}
p.univ-horoscope-content{
    text-align: center;
    font-size: 10pt;
    font-weight: 200;
    margin-top: 7px;
}
.user-controls-horo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.user-controls-horo>*{
  margin: 3px;
gap: 3px;
}
