.splash-container{
background-color: royalblue;
max-width: fit-content;
max-height: fit-content;
}
.splash-wrapper{
    background-color: white;
    max-height: 888px;

    /* grid-template-columns: 10% 80% 10%; */
    position: absolute;
    left: 35%;
    /* grid-template-rows:auto; */

}
.sign-container{
    background-color: white;
    max-width: 800px;
    height: 777px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    /* display: grid; */
    overflow-y: auto;
    /* grid-column-start: 2; */
    border-radius: 5%;
    /* display: flex;
    justify-content: center; */
    /* position: absolute; */
    /* grid-row-start: 1; */
    }
.sign-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.splash-login{
        display: flex;
        max-height: fit-content;
        /* grid-column-start: 3; */
        /* grid-row-start: 2; */
        border: 3px solid red;
        line-height: 10px;
        /* grid-row-start: 1; */
}
.splash-feed{
    display: grid;
    grid-column-start: 1;
    border: 3px solid red;
    /* grid-row-start: 1; */

}
