
body{
    background-color: rgb(11, 0, 32);
    background-image: url(https://zodiappbucket.s3.us-east-2.amazonaws.com/wp2742972.jpeg);
    background-repeat: no-repeat;
     background-size:1000px;
    /* max-height: 777px; */

}

.main-splash-cont{
    display: grid;
    grid-column: 50% 50%;
 /* background-image: url(https://zodiappbucket.s3.us-east-2.amazonaws.com/wp2742972.jpeg);
 background-repeat: no-repeat; */
   height: 777px;
   position: relative;
    /* height: fit-content; */
}
.user-actions{
    /* display: flex; */
    display: grid;
grid-column-start: 2;
position: relative;
}
.splash-container{
/* background-color: var(--wa-dark-purple); */
/* max-width: fit-content;
max-height: fit-content; */
position: relative;
display: grid;
grid-column-start: 1;
flex-direction: column;
box-sizing: border-box;
align-items: center;
justify-content: center;
width: fit-content;
margin: 0px;
padding: 0;
top: 0px;
left: 475px;

}
.splash-wrapper{
    max-height: 888px;
display: flex;
flex-direction: row;
align-content: space-between;
justify-content: space-between;
    /* grid-template-columns: 10% 80% 10%; */
    /* position: absolute;
    left: 35%; */
    /* grid-template-rows:auto; */

}
.sign-container{
    background-color: white;
    max-width: fit-content;
    height: 777px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    /* display: grid; */
    overflow-y: auto;
    /* grid-column-start: 2; */
    border-radius: 5%;
    /* display: flex;
    justify-content: center; */
    /* position: absolute; */
    /* grid-row-start: 1; */
    }
.sign-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 20vh 20vh 10vh;
    grid-template-rows: 18vh 1fr 1fr 1fr; */
    grid-gap: 10px;
    padding: 10px;
    width: fit-content;


}

.splash-feed{
    display: grid;
    grid-column-start: 1;

    /* grid-row-start: 1; */

}
#horoscope-feed{

    max-block-size: 50px;
    line-height: 50px;
    /* justify-content: stretch; */
    /* position: absolute;
    bottom: 20%; */
}
.splash-login{
    max-block-size: 30px;

    /* position: absolute; */
}
.splash-bttns{
    background-color: var(--wa-deep-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .sign-emoji{
    width: fit-content;
    z-index: 0;
    border-radius: 22%;
} */
.sign-emoji > img{
    width: 100px;
    height: fit-content;
    border-radius: 22%;
}
.sign-emoji>img:hover{
    width: 110px;
    box-shadow: 3px 3px 3px 1px rgb(255, 168, 255);
   /* z-index: 2; */
}

.sign-detail-full,.sign-detail{
    background-image: linear-gradient(to bottom left, var(--wa-light-blue), var(--wa-emoji-purple), var(--wa-blue));
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px;
    margin: 0px;
    color:black;
    height: 400px;
    width: 400px;
    overflow-y: scroll;
    position: absolute;
    top:-25vh;
    right: 35vh;
    border-radius: 5%;
}
body::-webkit-scrollbar {
    width: .5em;
    border-radius: 12%;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--wa-light-blue);
    outline: 1px solid rgb(141, 32, 141);
  }


#close-modal{

    padding: 5px 5px 2px 5px;
    margin: 0px;
    color: cornsilk;
    position: sticky;
    top: 0%;
    text-align: right;
    display: flex;
    align-self: flex-start;
    background-color: var(--wa-light-blue);
    border-radius: 5%;
}
#close-calc{

    padding: 5px 5px 2px 5px;
    margin: 0px;
    color: cornsilk;
    position: sticky;
    top: 0%;
    text-align: right;
    display: flex;
    align-self: flex-end;
    background-color: var(--wa-emoji-purple);
    border-radius: 5%;
}
#close-calc:hover{

    text-decoration: underline;
    background-color: var(--wa-yellow);
    color: var(--wa-charcoal);
}
#close-modal:hover{
   text-decoration: underline;
   background-color: var(--wa-yellow);
   color: var(--wa-charcoal);
}
#sign-header{
    color: cornsilk;
    text-transform: uppercase;
    font-size: 45px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: 'Timmana', sans-serif;
    line-height: 50px;
    text-align: center;
}


#long_description{

    font-size: 13pt;
    font-weight: 200;
    line-height: 18px;
    word-break: normal;
    padding:3px 3px 1px 35px;
    /* line-break: strict; */
    width: 85%;

}
#space-break{
padding: 5.5px;
}
*{
    box-sizing: border-box;
}
.sign-label{
    padding-bottom: 0px;
    padding-left: 10px;
    margin: 0px;
    text-transform: uppercase;
    color: cornsilk;
    font-size: 24px;

width: fit-content;
}
.sign-label.strengths{
    padding-bottom:0px;
    margin: 0px;
    line-height: 25px;
    width: fit-content;

}
.sign-label.weaknesses{
    padding-bottom:0px;
    margin: 0px;
    line-height: 25px;
    width: fit-content;

}
.sign-content{
    padding-left: 10px;
    margin: 0px;
    /* color: rgb(241, 204, 235); */

    width: fit-content;
}
.sign-content .strengths{

    /* color: rgb(241, 204, 235); */

    width: 65%;
    font-size: 20px;
    font-weight: 400;
}
.sign-content .weaknesses{

    /* color: rgb(241, 204, 235); */

    width: 65%;
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
}
/* .sign-content.short-desc{

    /* color: rgb(241, 204, 235); */

    /* width: 65%;
    font-size: 18px;
    line-height: 10px;
    font-weight: 200; */

#sign-sect{
    display: flex;
    flex-direction: row;
    line-height: 30px;

}
.sign-content.short-desc{
    display: flex;
    flex-direction: row;
    font-weight: 100;
    font-size: 20pt;
    line-height: 15px;
    word-break: normal;
    font-size: 13pt;
    font-weight: 200;
    line-height: 18px;
    word-break: normal;
    padding:3px 3px 1px 35px;
    /* line-break: strict; */
    width: 85%;


}
#sign-sect#toprow{
   text-align: center;


}
#strengths #weaknesses{
    padding: 10px;
}
.login-more{
    text-align: center;
    color: var(--wa-light-blue);
}
/* #move-right{
    position: absolute;
    right: 300px;
} */
#click-header{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    padding:0px;
    margin: 0px;
    height: fit-content;
}
#click-calculate{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    padding:0px;
    margin: 0px;
    height: fit-content;
}
#click-calculate:hover{
    color:var(--wa-gold);
    font-size: 42px;
    text-decoration: underline;


}

/* *{
    border: 1px solid red;
} */
/* @media screen and(max-width: 1200px) {
    .splash-container{


        }
        .splash-wrapper{


        }
        .sign-container{

            }
        .sign-wrapper{



        }

} */
