*{
    box-sizing: border-box;
}

.splash-container{
/* background-color: var(--wa-dark-purple); */
/* max-width: fit-content;
max-height: fit-content; */
display: flex;

justify-content: center;

}
.splash-wrapper{
    background-color: white;
    max-height: 888px;
display: flex;
flex-direction: row;
align-content: space-between;
justify-content: space-between;
    /* grid-template-columns: 10% 80% 10%; */
    /* position: absolute;
    left: 35%; */
    /* grid-template-rows:auto; */

}
.sign-container{
    background-color: white;
    max-width: 800px;
    height: 777px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    /* display: grid; */
    overflow-y: auto;
    /* grid-column-start: 2; */
    border-radius: 5%;
    /* display: flex;
    justify-content: center; */
    /* position: absolute; */
    /* grid-row-start: 1; */
    }
.sign-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 20vh 20vh 10vh;
    grid-template-rows: 18vh 1fr 1fr 1fr; */
    grid-gap: 10px;
    padding: 10px;
    width: fit-content;

}

.splash-feed{
    display: grid;
    grid-column-start: 1;
    border: 3px solid red;
    /* grid-row-start: 1; */

}
#horoscope-feed{

    max-block-size: 50px;
    line-height: 50px;
    /* justify-content: stretch; */
    /* position: absolute;
    bottom: 20%; */
}
.splash-login{
    max-block-size: 30px;

    /* position: absolute; */
}
.splash-bttns{
    background-color: var(--wa-deep-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-emoji{
    width: fit-content;
}
.crystal-ball{



}
.crystal-ball > img{
    width: 100%;
    max-height: 150px;
    /* box-shadow: ; */

}
.crystal-ball >img:hover{

box-shadow: 10px 10px 10px 10px var(--wa-gold);
}
