
/* body{

 background-image: url(https://zodiappbucket.s3.us-east-2.amazonaws.com/wp2742972.jpeg);
 background-repeat: no-repeat;
 background-size: cover;

} */
/* *{
    border: .5px solid red;
} */
.main-splash-cont{
margin-top: 5%;
margin-right: 5%;
    display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "zodi-app-header splash-container login-splash"
    "Footer Footer Footer";
    /* height: fit-content;
     display: grid;
    grid-template-columns:auto auto 500px;
    grid-row:100%;
    width: fit-content;
    max-width: min-content;
    max-height: min-content;
    margin: 0px;

    padding-top: 200px;
    margin-left: 18vw;*/
}
#zodi-app-header{
    /* display: grid;
    grid-column-start: 1;
    color: white;
    font-size: 30px;


  */

    grid-area: zodi-app-header;
    font-size: 100px;
  ;
    height: 100%;
    color: white;

    width: 100%;

    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}
#zodi-app-header>h1{
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    margin: 0px;
    transform: rotate(270deg);
    width:max-content;
    height: min-content;
}


#logo{
    height: fit-content;
    width: 100px;


}
.about-me-div{

}

.login-splash{
    display: grid;
grid-area:login-splash ;




}
.user-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;


}
.user-bttn-container{

    grid-area:login-splash ;



}
.mobile-login{
    visibility: hidden;

}
/* .user-actions{

    background-color: violet;
    display: grid;
grid-column-start: 2;

} */
.splash-container{
/* background-color: var(--wa-dark-purple); */
/* max-width: fit-content;
max-height: fit-content; */


grid-area: splash-container;
display: flex;
flex-direction: column;
box-sizing: border-box;
align-items: center;
justify-content: flex-end;
width: fit-content;
margin: 0px;
padding: 0;
/* top: 0px;
left: 475px; */

}
.about-me-div{
    background-color: var(--wa-light-blue);
    position: fixed;
    bottom: 0%;
    width: 100%;
left:0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40%;
    padding-right: 40%;
    max-height: 25%;
    font-size: 1rem;
}
.about-me-div>p{
    text-align: center;
    color: white;
    margin: 0px;
    width: max-content;

}
.splash-wrapper{
    max-height: 888px;
display: flex;
flex-direction: row;
align-content: space-between;
justify-content: space-between;
    /* grid-template-columns: 10% 80% 10%; */
    /* position: absolute;
    left: 35%; */
    /* grid-template-rows:auto; */

}
.sign-container{
    background-color: white;
    max-width: fit-content;
    height: 777px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    /* display: grid; */
    overflow-y: auto;
    /* grid-column-start: 2; */
    border-radius: 5%;
    /* display: flex;
    justify-content: center; */
    /* position: absolute; */
    /* grid-row-start: 1; */
    }
.sign-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 20vh 20vh 10vh;
    grid-template-rows: 18vh 1fr 1fr 1fr; */
    grid-gap: 10px;
    padding: 10px;
    width: fit-content;


}
#click-header{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    padding:0px;
    margin: 0px;
    height: fit-content;

}
#click-calculate{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    padding:0px;
    margin: 0px;
    height: fit-content;
    text-align: center;
}
#click-calculate:hover{
    color:var(--wa-gold);
    font-size: 42px;
    text-decoration: underline;


}
.sign-detail-full,.sign-detail{
    background-image: linear-gradient(to bottom left, var(--wa-light-blue), var(--wa-emoji-purple), var(--wa-blue));
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px;
    margin: 0px;
    color:black;
    height: 400px;
    width: 400px;
    overflow-y: scroll;
    /* position: relative;
    top:25vh;
    right: 135vh; */
    border-radius: 5%;
}

@media all and (max-width: 900px)  {

    .main-splash-cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.9fr 0.4fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
    "zodi-app-header"
    "splash-container"
    "user-actions"
    "about-me";
    }

    #zodi-app-header{
        display: grid;
        grid-template-columns: 1.8fr 0.2fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". mobile-login";
        grid-area: zodi-app-header;
        margin-left:5%;
        margin-right:15%;
    }
    #zodi-app-header>h1{
        transform: none;
        font-size: 3.5rem;
        text-align: center;

    }

    .mobile-login{
        margin-top: 3.5vh;
        margin-right: 2vh;
        visibility: visible;
        grid-area: mobile-login;
    }
    .login-splash{
        display: none;

    }
    .user-actions{
        grid-area: user-actions;
    }
    .user-bttn-container{
        width: 100%;
    }
    .splash-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ".";
        grid-area: splash-container;
        margin-left: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    .about-me-div{
           grid-area: about-me;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    }
    .splash-container{

    }
    .sign-detail-full,.sign-detail{
        max-width: 21rem;
    }

}

.splash-feed{
    display: grid;
    grid-column-start: 1;

    /* grid-row-start: 1; */

}
#horoscope-feed{

    max-block-size: 50px;
    line-height: 50px;
    /* justify-content: stretch; */
    /* position: absolute;
    bottom: 20%; */
}
.splash-login{
    max-block-size: 30px;

    /* position: absolute; */
}
.splash-bttns{
    background-color: var(--wa-deep-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .sign-emoji{
    width: fit-content;
    z-index: 0;
    border-radius: 22%;
} */
.sign-emoji > img{
    width: 100px;
    height: fit-content;
    border-radius: 22%;
}
.sign-emoji>img:hover{
    width: 110px;
    box-shadow: 3px 3px 3px 1px rgb(255, 168, 255);
   /* z-index: 2; */
}


body::-webkit-scrollbar {
    width: .5em;
    border-radius: 12%;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--wa-light-blue);
    outline: 1px solid rgb(141, 32, 141);
  }


#close-modal{

    padding: 5px 5px 2px 5px;
    margin: 0px;
    color: cornsilk;
    position: sticky;
    top: 0%;
    text-align: right;
    display: flex;
    align-self: flex-start;
    background-color: var(--wa-light-blue);
    border-radius: 5%;
}

#close-calc{

    padding: 5px 5px 2px 5px;
    margin: 0px;
    color: cornsilk;
    position: sticky;
    top: 0%;
    text-align: right;
    display: flex;
    align-self: flex-end;
    background-color: var(--wa-emoji-purple);
    border-radius: 5%;
}
#close-calc:hover{

    text-decoration: underline;
    background-color: var(--wa-yellow);
    color: var(--wa-charcoal);
}
#close-modal:hover{
   text-decoration: underline;
   background-color: var(--wa-yellow);
   color: var(--wa-charcoal);
}
#sign-header{
    color: cornsilk;
    text-transform: uppercase;
    font-size: 45px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: 'Timmana', sans-serif;
    line-height: 50px;
    text-align: center;
}


#long_description{

    font-size: 13pt;
    font-weight: 200;
    line-height: 18px;
    word-break: normal;
    padding:3px 3px 1px 35px;
    /* line-break: strict; */
    width: 85%;

}
#space-break{
padding: 5.5px;
}
*{
    box-sizing: border-box;
}
.sign-label{
    padding-bottom: 0px;
    padding-left: 10px;
    margin: 0px;
    text-transform: uppercase;
    color: cornsilk;
    font-size: 24px;

width: fit-content;
}
.sign-label.strengths{
    padding-bottom:0px;
    margin: 0px;
    line-height: 25px;
    width: fit-content;

}
.sign-label.weaknesses{
    padding-bottom:0px;
    margin: 0px;
    line-height: 25px;
    width: fit-content;

}
.sign-content{
    padding-left: 10px;
    margin: 0px;
    /* color: rgb(241, 204, 235); */

    width: fit-content;
}
.sign-content .strengths{

    /* color: rgb(241, 204, 235); */

    width: 65%;
    font-size: 20px;
    font-weight: 400;
}
.sign-content .weaknesses{

    /* color: rgb(241, 204, 235); */

    width: 65%;
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
}
/* .sign-content.short-desc{

    /* color: rgb(241, 204, 235); */

    /* width: 65%;
    font-size: 18px;
    line-height: 10px;
    font-weight: 200; */

#sign-sect{
    display: flex;
    flex-direction: row;
    line-height: 30px;

}
.sign-content.short-desc{
    display: flex;
    flex-direction: row;
    font-weight: 100;
    font-size: 20pt;
    line-height: 15px;
    word-break: normal;
    font-size: 13pt;
    font-weight: 200;
    line-height: 18px;
    word-break: normal;
    padding:3px 3px 1px 35px;
    /* line-break: strict; */
    width: 85%;


}
#sign-sect#toprow{
   text-align: center;


}
#strengths #weaknesses{
    padding: 10px;
}
.login-more{
    text-align: center;
    color: var(--wa-light-blue);
}
/* #move-right{
    position: absolute;
    right: 300px;
} */



/* @media screen and(max-width: 1000px) {
    .splash-container{

        display: grid;
        grid-column: 1fr 1fr;
        position: relative;
        }
        .splash-wrapper{
display: grid;
grid-column-start: 1;
position: relative;

        }
        .sign-container{
            position: relative;
            }
        .sign-wrapper{
            position: relative;


        }

} */
